<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Form</title>
    <!-- <script src="/js/validate.js"></script> -->
    <link href="../css/error.css" rel="stylesheet" />
</head>

<body>
    <h1 class="message">Some fields might be wrong please go back and fill out again.
        If you're Stuart Dent or Stu Dent. Your payment will never go through!!!! <br>
        Thank you!!!!!
    </h1>
</body>

</html>