<!DOCTYPE html>
<html>
    <head>
        <!--TODO: Change to title of media dynamically-->
        <title>Loading light novel...</title>

        <link rel = "stylesheet" href = "../css/common.css">
        <link rel = "stylesheet" href = "../css/media.css">
        <link rel = "stylesheet" href = "../css/lightNovel.css">

        <link rel = "stylesheet" href= "https://fonts.googleapis.com/css?family=Gloock">
        <link rel = "stylesheet" href= "https://fonts.googleapis.com/css?family=Montserrat">

        <script src = "../js/lightNovel.js" type = "module"></script>

        <script src="/js/common.js" type="module"></script>

        <meta name = "viewport" content = "user-scalable=no">

        <!-- <link rel = "icon" href = "../images/logo.png"> -->

        <!--Web manifest-->
        <link rel="manifest" href="../manifest.webmanifest" crossorigin = "use-credentials">

        <!--Icons and theming-->
        <link rel="apple-touch-icon" sizes="180x180" href="../images/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../images/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../images/icons/favicon-16x16.png">
        <link rel="mask-icon" href="../images/icons/safari-pinned-tab.svg" color="#beb9dc">
        <meta name="msapplication-TileColor" content="#beb9dc">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <div id = "back-button-area">
            <a href = "/lightNovelHomePage" id = "back-button-link"><img src = "../../images/back.png" id = "back-button"></a>
        </div>
        <main>
            <!-- <img id = "cover-image"> -->
            <div id = "metadata">
                <div id = "favorites-area">
                    <h2 id = "title"></h2>
                    <button type="button">
                        <img id = "add-fav" src = "../images/like.png">
                    </button>
                </div>
                <h3 id = "volume-count"></h3>
                <p id = "description"></p>
            </div>
            <div id = "volumes"></div>            
        </main>        
        <!--Allow for user to scroll to very bottom of content without nav bar obstructing way-->
        <footer id = "whitespace"></footer>
        <div id = "nav-area">
            <nav>
                <a href = "/discover"><img src = "../images/media-selected.png"></a>
                <a href = "/favorites"><img src = "../images/favorites.png"></a>
                <a href = "/search"><img src="../images/search.png" src = "search"></a>
                <a href="/profile"><img src="../images/profile.png"></a>
            </nav>
        </div>
    </body>
</html>