<!DOCTYPE html>
<html>
    <head>
        <title>Sign up!</title>

        <link rel = "stylesheet" href = "../css/common.css">
        <link rel = "stylesheet" href = "../css/signup.css">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gloock">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

        <meta name = "viewport" content = "user-scalable=no">

        <!-- <link rel = "icon" href = "../images/logo.png"> -->

        <script src = "../js/signup.js" type = "module"></script>

        <!--Web manifest-->
        <link rel="manifest" href="../manifest.webmanifest" crossorigin = "use-credentials">

        <!--Icons and theming-->
        <link rel="apple-touch-icon" sizes="180x180" href="../images/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../images/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../images/icons/favicon-16x16.png">
        <link rel="mask-icon" href="../images/icons/safari-pinned-tab.svg" color="#beb9dc">
        <meta name="msapplication-TileColor" content="#beb9dc">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <main>
            <h3 id = "heading">Let's get you registered.</h3>
            <div id = "name-area">
                <p>What's your<strong>first name?</strong></p>
                <input type = "text" class = "name" id = "first-name">
                <p class = "error-message" id = "fname-error">Default error message</p>
                
                <p>What's your<strong>last name?</strong></p>
                <input type = "text" class = "name" id = "last-name">
                <p class = "error-message" id = "lname-error">Default error message</p>
            </div>
            <div id = "picture-area">
                <p>Choose a<strong>profile picture:</strong></p>
                <div id = "avatars">
                    <img src = "../images/avatars/1.webp" class = "avatar" id = "avatar-1">
                    <img src = "../images/avatars/2.png" class = "avatar" id = "avatar-2">
                    <img src = "../images/avatars/3.jpg" class = "avatar" id = "avatar-3">
                    <img src = "../images/avatars/4.jpg" class = "avatar" id = "avatar-4">
                    <img src = "../images/avatars/5.avif" class = "avatar" id = "avatar-5">
                </div>
                <p class = "error-message" id = "picture-error">Default error message</p>
            </div>
            <div id = "credentials-area">
                <p>First, pick a<strong>username:</strong></p>
                <input type = "text" class = "credentials" id = "username">
                <p class = "error-message" id = "username-error">Default error message</p>
                <p>Now, a<strong>password:</strong></p>
                <input type = "password" class = "credentials" id = "password">
                <p>Confirm your password:</p>
                <input type = "password" class = "credentials" id = "repeated-password">
                <p class = "error-message" id = "password-error">Default error message</p>
            </div>         
            <button id = "next">next...</button>
            <button id = "next2">keep going...</button>
            <button id = "submit">get started!</button>
            <p>Already a user? <a href = "/login">Log in.</a></p>
        </main>
    </body>
</html>