* {
    box-sizing: border-box;
}
html {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    background-color: green;
}

body {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message {
    font-size: xx-large;
    font-style: italic;
}