<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link href="/Vacation_Diary/static/style.css" rel="stylesheet"/>
</head>
<body>
    <div class="main">
        <div id="menu">
            <header>Places you have been to</header>
        </div>
    </div>

    <div class="content">
        <div id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3231.950825462006!2d-78.55443012409467!3d35.89922001796843!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89ac50bb282d177b%3A0xf0dd861e2377a241!2s8820%20Bright%20Passage%20Dr%2C%20Raleigh%2C%20NC%2027616!5e0!3m2!1sen!2sus!4v1702851570337!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div id="input">
            <p>Please enter the city you have visit</p>
            <input type="text" id="cityName">
            <button id="send">Search</button>
        </div>
    </div>
</body>
</html>